.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  max-width: 633px;
}

.overlay {
  position: absolute;
  right: 40px;
  bottom: 10px;
}

@media (max-width: 1024px) {
  .overlay {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .overlay {
    right: 10px;
  }
}
